/*top_banner*/
#top_banner{position: relative;width:100%;margin: 0 auto;overflow: hidden;height: auto;margin-top: 1%;margin-bottom: 2%;text-align: center;/*background-image: url(../images/contens/tab_contents/brand_main.png);*/}
#top_banner img{width:100%;height:100%;}
#top_banner .top_tit{position: absolute;top: 0;left: 0; display: inline-block;width:100%;height: 100%;background-color: rgba(38, 38, 38, 0.5);}
#top_banner .top_tit h2{margin-top: 5%;font-size: 4em; font-weight: 700;color: #fff;}



/*tab_wrap */
#tab_wrap{width:80%;overflow: hidden;margin: 0 auto;padding:0 20px;margin-bottom: 2%;} 


/*tabs layot*/
#tabs { width:75%;overflow: hidden; margin:0 auto;/*border: 1px solid transparent; 6d1515*/}
#tabs .tab_list{width:33.33%;background:#ededed;border-bottom:1px solid  #a31f1f;border-top: 3px solid transparent;box-sizing: border-box;/*border-top:4px solid #CCC; border-right:1px solid #CCC;display:inline-block;*/}

#tabs .tab_list a {text-align:center; display:block; font-size: 1.5em;padding:17px; line-height: 16px; color:#bbb;}

/*tab_contents laout*/
.tab_contents{width:75%;overflow: hidden;margin: 0 auto;background-color:#FFF;padding: 2%;}
.tab_contents h2 {font-weight: normal; font-size:2em;display: inline-block;width:70%;}
.tab_contents .font_red{color: #a31f1f/*#dd8484;*/}
.tab_contents p{font-size: 1.6em; color:#333; line-height: 1.5em;}

/*event_tab style*/
#event .event_ul {width:88%;margin: 0 auto;background-color: blue;}
#event .event_ul .event_box{width:44%;margin:2%;overflow: hidden;border: 2px solid transparent;}
#event .event_ul .event_box a{position: relative;display: inline-block;width:100%;height:100%;text-align: center;}
#event .event_ul .event_box a .event_ov{position: absolute;bottom: 0;left: 0;display:inline-block;width: 100%;font-size: 2em;color: #fff;background-color:rgba(109,21,21,0.8); display: none;z-index:22;}
#event .event_ul .event_box a::after {content: ''; position: absolute;top: 0;left: 0;right: 0;bottom: -1px;opacity: 0.4;width: 100%;height: 100%;}
#event .event_ul .event_box img {transition: all 0.25s linear;transform: translate3d(0, 0, 0);}
#event .event_ul .event_box:hover img {transform: scale(1.05); }
#event .event_ul .event_box:hover {border: 2px solid #6d1515;}
/*#event .event_ul .event_box:hover a::after {opacity: 0.2;background-color:#103065 #6d151; }*/
#event .event_ul .event_box:hover .event_ov {display: block;}


#tabs { width:75%;overflow: hidden; margin:0 auto;/*border: 1px solid transparent; 6d1515*/}
#tabs .tab_list{/*border-top:4px solid #CCC; border-right:1px solid #CCC;display:inline-block;*/}

#tabs .tab_list a {text-align:center; display:block; font-size: 1.5em;padding:17px; line-height: 16px; color:#bbb;}

/*notice_tab style*/
.noticetab_contents{width:85%;overflow: hidden;float: right;padding: 1% 0% 3% 0%;}

#notice_tabs{width:12%; float: left;}
#notice_tabs .notice_list{width:100%;border-bottom:1px solid #a31f1f;border-top: 3px solid transparent;box-sizing: border-box;}
#notice_tabs .notice_list a{text-align:center; display:block; font-size: 1.5em;padding:17px; line-height: 16px; color:#bbb;}
#notice_tabs li.active {border-bottom:3px solid #a31f1f;box-sizing: border-box;}
#notice_tabs li.active a { color: #6d1515;font-weight: bold;}
#notice_tabs li.active a i {color: #a31f1f;}

.noticetab_contents dl {padding:2%;}
.noticetab_contents dl dt {display: inline-block;width: 100%;padding: 1%; float:left;}
.noticetab_contents dl dd {display: inline-block;width: 100%;padding: 1%; float:left;}
.noticetab_contents .num {width:10%;} 
.noticetab_contents .red {color: #6d1515;font-weight: bold;} 
.noticetab_contents .sub {width:60%;}
.noticetab_contents .data {width:10%;} 
.noticetab_contents .count {width:10%;} 

.notice_info dt {text-align:center;border-bottom:1px solid #6d1515;font-size: 1.5em;}
.notice_info dd {text-align:center;border-bottom:1px solid #ccc;font-size: 1.3em;}
.notice_info dd.sub {text-align:center;}
.list_bot {clear: both;text-align:center;padding:10px 10px;}

.customer_info {width: 100%; padding: 2%;}
/*.customer_info .faq{width: 100%;padding: 2%;}*/
.customer_info .faq dd {border-bottom:1px solid #ccc;}
/*.customer_info .answer{border-bottom:1px solid #ccc;}*/
.customer_info dt {text-align:center;border-bottom:1px solid #6d1515;font-size: 1.5em;}
.customer_info dd {text-align:center;font-size: 1.3em;}
.customer_info .num {width:15%;}
.customer_info .sub {width:75%;}
.customer_info .st {color: #6d1515;font-weight: bold;font-size: 1.8em;} 
.customer_info .answer dd{border-bottom: none;}

/*beautyclass_tab style*/
#beautyclass {width: 70%;margin:0 auto;}
#beautyclass .tab_tit {width: 70%;margin:0 auto; text-align: center;}
#beautyclass .tab_tit h2 {display: block;width: 100%;padding: 1%;color:#6d1515; font-size: 2em;font-weight: 900;}
#beautyclass .tab_tit span {display: inline-block;font-size: 1.8em; padding: 1%;}
#beautyclass .beautyclass_video{width: 100%;overflow: hidden;padding:3% 0; text-align: center;}
.beautyclass_info{/*display: table;*/overflow: hidden;width: 90%;margin: 0 auto;/*background-color: rgba(204, 143, 143, 0.5);border-radius: 2%;*/}
.beautyclass_info .beautyclass_box{display:table-cell;width:20%;height:50%;  margin:1%;padding:1%;background-color: rgba(254, 216, 216, 0.5);}
.beautyclass_info .beautyclass_box .beautyclass_tit{display: inline-block;text-align: center;width: 100%; padding:4% 1%;}
.beautyclass_info .beautyclass_box .beautyclass_tit span{font-size: 1.8em;}
.beautyclass_info .beautyclass_box .beautyclass_tit strong{font-size: 1.2em;color:#6d1515;}
.beautyclass_info .beautyclass_box p{display: inline-block;padding: 0 1%;font-size: 1.4em;}

.beautyclass_more{width: 20%;margin: 0 auto;padding: 2% 0%;text-align: center;}
.beautyclass_more a{display: inline-block;width:80%;padding: 2% 0%;font-size: 2em;color:#6d1515;border: 1px solid #333;}
.beautyclass_more a:hover {background-color: #6d1515;color: #fff;}


/*tabs active style*/
#tabs li.active {background:#FFF; border-top:3px solid #a31f1f;border-left:1px solid  #a31f1f;border-right:1px solid #6d1515;border-bottom: none;box-sizing: border-box;}
#tabs li.active a { color:#333333;}
#tabs li.active a i {color: #a31f1f;}