@charset "utf-8";
*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;color: #333;}
img {border: 0;vertical-align: top;}

body{font-family:'Roboto';font-size: 67.5%;}

#wrap{width:100%; margin: 0 auto;}
ul > li {float: left;}
img{width: 100%; height: auto;}


/*header*/

header{position: relative;top: 0;z-index:99;width:100%;margin:0 auto; height: auto; height: 120px;position: fixed;background-color: #fff;box-sizing: border-box;}

header .logo {position: absolute;left: 1%;z-index:100;width:15%;margin-top:3%;}
header .logo img {width:100%;}

/*nav*/
header nav {position:absolute;width:100%;height:100px;background-color:#0a0a0a;}
header nav .gnb {width:10%;height: 100%;padding: 1.5% 0; float: right;z-index: 55;}
header nav .gnb img {width:100%;height: 100%;}
header nav .gnb li {width:20%;padding:6%;margin-top: 5px;}

header nav #main_nav {width:100%;margin: 0 auto;/*border-bottom: 2px solid #e5e5e5;*/ }
header nav #main_nav .main_menu {position: relative;width:60%;margin: 0 auto; padding: 1% 0;overflow: hidden;text-align: center;}
header nav #main_nav .main_menu li {width:20%;height: 100%; margin-top: 5px;text-align: center;}
header nav #main_nav .main_menu li a {display:inline-block;width: 100%;height: 100%; padding:10% 0%;color: #fff;font-size: 1.5em; transition: 0.2s;}
span.line{display: block;width: 0%;margin: 0 auto;height:3px;margin-bottom:5px; background-color:rgb(167, 31, 31);transition: 0.5s;}

#search_layer{width: 100%;overflow: hidden;position:absolute;top:0%;left: 0; background-color: #fff;text-align: center;padding: 1%;box-sizing: border-box;box-shadow: 0 0 10px #333;display: none;z-index: -1;}
.search_box {width: 80%;margin: 0 auto;overflow: hidden;padding: 1%;}
.search_box fieldset {border: 0;}
.search_box legend { width: 0; height: 0; text-indent: -9999px;}
.search_box label { padding: 2%;border-bottom: 1px solid #413e3e}
.search_box input[type=text] { border-color: transparent;width: 70%;padding: 1% 0;font-size: 2em;} /*type이 text인것*/
.search_btn{width: 2.5%;padding: 1% 0;}

.search_txt{width:75%;padding: 1%; margin: 0 auto; overflow: hidden;font-size: 1.1em;text-align: left;}
.search_txt dt{display: inline-block;float: left;font-size: 2em;}
.search_txt dd{width:13%;float:left;padding: 1% 0.5%; font-size: 1.1em;color: #666;text-align: center;}
.search_txt dd:hover{text-decoration: underline;}

.close_box{width: 5%;margin: 0 auto; text-align: center;}
.search_close{width: 100%;border: 0 none; background: transparent;cursor: pointer;padding: 1% 0;font-size: 1.6em;}
.search_close_icon{width: 0;margin-left:40%; border-top: 10px solid transparent;border-right: 10px solid transparent;border-left: 10px solid transparent;border-bottom: 10px solid #413e3e;}
/*#search_screen{position: absolute;top:-400%;left: 0; width:100%;height: 400%;background-color:rgba(64, 60, 60, 0.8);}*/

/*placeholder속성 모든 브라우저 지원하게 하기*/
input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color:transparent;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
color:transparent;
}
input:focus:-ms-input-placeholder { /* IE 10+ */
color:transparent;
}
input:focus:-moz-placeholder { /* Firefox 18- */
color:transparent;
}



#sub {position:absolute;top:100%;left: 0;right: 0;width:100%;background-color:rgba(250, 249, 249, 0.9);padding-bottom: 15px;}
#sub #sub_menu {width:70%;margin: 0 auto;overflow: hidden;text-align: center;}
#sub #sub_menu .menu {float: left;width:17%;/*background-color: antiquewhite;*/}
#sub #sub_menu .menu li {float: none;padding-bottom: 1%;}
#sub #sub_menu .menu li a {display: inline-block;padding:4%;font-size: 15px;color:#414141;line-height: 40px; }
#sub #sub_menu .menu .menu_img{width:100%;padding-top: 30px;}
#sub #sub_menu .menu .menu_img img{width:100%;border-radius:25px;box-shadow: 2px 2px 20px #bbb;}
#sub #sub_menu .menu li:hover a {font-weight:900;color:#6d1515;}



/*top down*/
#btn_warp{position: absolute;right: 1%;bottom:10%;position:fixed;z-index:20; width:5%; overflow: hidden;text-align: center;}
#btn_warp ul{width: 80%;margin: 0 auto;overflow: hidden;}
#btn_warp ul li{width:90%;height: 100%; overflow: hidden;margin-bottom:2%;border: 0.1em solid #b2b0b0;background-color: rgba(250,250,250,0.6);}
#btn_warp ul li a{display: inline-block;width:80%;height: 100%;margin: 0 auto;line-height: 25px;padding:2%;font-size: 1em;}
#btn_warp i{display: inline-block;font-size: 16px;float: right;padding: 6% 0;transform: perspective(1px) translateZ(0);}
#btn_warp ul li:first-child:hover .fa-arrow-alt-circle-up{animation: up 0.75s ease-out infinite;color:#6d1515;}
#btn_warp ul li:last-child:hover .fa-arrow-alt-circle-down{animation: down 0.75s ease-out infinite;color:#6d1515;}

@keyframes up {
    0%,50%,100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-5px);
  }
}
@keyframes down {
    0%,50%,100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(5px);
  }
}


/*main*/
#main {width:100%;margin: 0 auto;margin-top:10%;}
#Contents .tit h2 {width:30%;font-size: 2.2em;color: rgb(128,47,113);text-align: center;margin: 0 auto;}
#Contents .tit span {font-size: 2em;}
.tit img{width:100%;}
.prd_name{font-size:1.7em;}
.prd_price{font-size: 1.4em;color: #715b5b;}
/*.prd_sp{font-size: 16px;color: #666;}*/


/*contens*/
#Contents {width: 100%; overflow: hidden; margin: 0 auto;margin-top: 150px;}


/*footer*/
footer{width: 100%; background-color:#000000 /*#f5f5f5*/;border-top: 1px solid #e9e9e9;overflow: hidden;text-align: center;}
#footer_wrap{width:80%;margin: 0 auto;padding: 50px 0;color:#d0d0d0}
#footer_top{position: relative;width:100%; margin: 0 auto;overflow: hidden;}
#footer_top .footer_logo{position: absolute;top: 0;left: 0; width:20%;/*background-image: url(../images/logo_white.png);height: auto;*/}
#footer_top .footer_logo img{width:100%;}
#footer_top .information {position: absolute;top: 5px;left: 20%;width:60%; display:table;}
#footer_top .information div{display: table-cell;}
#footer_top .information div a { font-size:1.6em;padding: 3px; color: aliceblue;transition:all 0.8s;border: 1px solid transparent;}
#footer_top .information div a:hover {border: 1px solid #fff;/*background-color: rgb(109, 21, 21)*/}
#footer_top .information div:nth-child(3){font-weight:900;}
#footer_top .sns{width:15%;overflow: hidden;float: right;margin-top:1%;}
#footer_top .sns li{margin:2%;text-align:center;padding: 2%;border: 1px solid #000; }
.footer_info {width:100%;text-align: left;margin-top: 30px;color: #d0d0d0;line-height: 25px;}
.footer_info p {display: inline-block;font-size: 1.3em;}
.footer_info a {color: #7b7979;}



