/*
header nav #main_nav .main_menu li:nth-child(1) span.line {width:60%;margin: 0 auto;}
*/


/*top_banner*/
#top_banner{position: relative;width:100%;margin: 0 auto;overflow: hidden;height: auto;margin-top: 1%;margin-bottom: 2%;text-align: center;/*background-image: url(../images/contens/tab_contents/brand_main.png);*/}
#top_banner img{width:100%;height:100%;}
#top_banner .top_tit{position: absolute;top: 0;left: 0; display: inline-block;width:100%;height: 100%;background-color: rgba(38, 38, 38, 0.3);}
#top_banner .top_tit h2{margin-top: 5%;font-size: 4em; font-weight: 700;color: #fff;}



/*tab_wrap */
#tab_wrap{width:80%;overflow: hidden;margin: 0 auto;padding:0 20px;margin-bottom: 2%;} 


/*tabs layot*/
#tabs { width: 90%;overflow: hidden; margin:0 auto;/*border: 1px solid transparent; 6d1515*/}
#tabs .tab_list{width:25%;background:#ededed;border-bottom:1px solid  #a31f1f;border-top: 3px solid transparent;box-sizing: border-box;/*border-top:4px solid #CCC; border-right:1px solid #CCC;display:inline-block;*/}
/*
#tabs .tab_list:last-child {border-right:none;}
#tabs .tab_list:first-child { padding-left:0; }
*/
#tabs .tab_list a {text-align:center; display:block; font-size: 1.5em;padding:17px; line-height: 16px; color:#bbb;}

/*tab_contents laout*/
.tab_contents{width:80%;overflow: hidden;margin: 0 auto;background-color:#FFF;padding: 2%;}
.tab_contents h2 {font-weight: normal; font-size:2em;display: inline-block;width:70%;}
.tab_contents .font_red{color: #a31f1f/*#dd8484;*/}
.tab_contents p{font-size: 1.6em; color:#333; line-height: 1.5em;}

/*first_tab style*/
#brand_story{overflow: hidden;background-image: url(../images/contens/brand_story/brand_bg.jpg);background-repeat: no-repeat;background-position: right;padding-bottom:2%;}
#brand_story p{display: inline-block;width:70%;overflow: hidden;}
/*
#first_tab .start {position: absolute;opacity:1;top:15%;left: 10%;}
#first_tab .center {position: absolute;opacity:1;top: -25%;left: 0;}
#first_tab .last {position: absolute;opacity:1;top: -15%;}
*/

#brand_story .animation .start { opacity:1; top:15%;}
#brand_story .animation .center{ opacity:1; top:230px; }
#brand_story .animation .last { opacity:1; top:310px; }

/*second_tab style*/
#brand_campaign {margin: 0 auto;text-align: center;}
#brand_campaign img{width:70%;margin: 0 auto;}

/*third_tab style*/
#social_contribution {overflow: hidden;}
#social_contribution .container{position: relative;overflow: hidden;}
#social_contribution .container .bottom_text{position: relative;left: 10%; margin-top:28%; overflow: hidden;width: 25%;height:80px;text-align: center;background-color:#6d1515;}
#social_contribution .container .bottom_text div{height:100%;position: relative;}
#social_contribution .container .bottom_text div p{color: #fff;padding: 2% 0 ;}
/*#third_tab .container .bottom_text{position: relative;left: 10%;overflow: hidden;width: 30%;}*/

#social_contribution .container .third_tit{position: absolute;top:5%;right: 0;width: 50%;overflow: hidden;}
#social_contribution .container .third_tit h2{margin-bottom: 1%; text-align: center;}
#social_contribution .container .third_tit p{font-size: 1.6em;display: inline-block;width: 95%;margin-top: 1%;}
#social_contribution .container .third_tit p.font_gray{color: #adabab;font-size: 1.3em;}
#social_contribution .container .third_img{position: absolute; left: 10%;top:5%;width:25%;height: auto;}
#social_contribution .container .third_img img{position: absolute;box-shadow: 1px 1px 10px #bbb;}
.up{z-index: 10;}
#social_contribution .container .bottom_menu{position: relative;text-align: center;}
.tool{width: 100%; height: 1px;margin: 0 auto;background: #E5E5E5;}
.foont_green{color: #3bad5a;font-weight: 300;}
#social_contribution .container .bottom_menu{ width: 50%;position: absolute;right: 0; bottom: 0%;}
#social_contribution .container .bottom_menu .third_ul {overflow: hidden;padding:3% 2%;transition: all 0.3s ease; }
#social_contribution .container .bottom_menu .third_ul li{width: 20%;overflow: hidden;cursor: pointer;}
#social_contribution .container .bottom_menu .ultop li i{position: absolute;top: 0;color:#333;font-size: 1em;}
#social_contribution .container .bottom_menu .ulbottom li i{position: absolute;top: 50%;color:#333;font-size: 1em;}
#social_contribution .container .bottom_menu .third_ul li:hover p {transform: scale(1.3);}
#social_contribution .container .bottom_menu .third_ul li:hover i {color:#6d1515;transform: scale(1.3);}


/*fourth_tab style*/
#promise strong{font-size: 2.2em;}
#promise span{font-size: 1.4em;}


/*tabs active style*/
#tabs li.active {background:#FFF; border-top:3px solid #a31f1f;border-left:1px solid  #a31f1f;border-right:1px solid #6d1515;border-bottom: none;box-sizing: border-box;}
#tabs li.active a { color:#333333;}
#tabs li.active a i {color: #a31f1f;}